@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color:gray;
}

/*
  I learned to use display flex and flex-direction: column in order to line up the odin project

  Can put display: flex in body and make it flex-direction column so footer is forced to bottom
*/

.header {
  display: flex;
  justify-content: space-between;
}

.left-links,
.right-links {
  display: flex;
  gap: 20px;
  padding-left: 20px;
  padding-right: 20px;
}


.footer {
  display: flex;
  background-color: lightgray;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1 0 auto;
}

button {
  padding: 14px;
}

.footer {
  display: flex;
  justify-content: space-between;
  flex-shrink: 0;
}

body {
  display: flex;
  flex-direction: column;
}